f1.json
[{"id":"36d35173.2b68be","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d606c0b0.abe87","type":"ui_tab","z":"","name":"Home_1","icon":"dashboard","disabled":false,"hidden":false},{"id":"d9253f24.672b5","type":"ui_group","z":"","name":"Default","tab":"d606c0b0.abe87","disp":true,"width":"12","collapse":false},{"id":"caed8db0.e02d5","type":"mqtt-broker","z":"","name":"local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"76046633.139298","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f97ceb8c.09e1d8","type":"inject","z":"36d35173.2b68be","name":"","topic":"/init/21","payload":"abc","payloadType":"str","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["af9848b0.343598"]]},{"id":"af9848b0.343598","type":"function","z":"36d35173.2b68be","name":"","func":"var id = context.get(\"id\") || 0;\nvar min = flow.get(\"min\") || 0;\n\nid++;\nif(id >= 60)\n{\n    id=0;\n    min++;\n}\ncontext.set(\"id\", id);\nflow.set(\"min\", min);\n\nmsg.payload = id.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["c3f36cab.b386c"]]},{"id":"c3f36cab.b386c","type":"ui_text","z":"36d35173.2b68be","group":"d9253f24.672b5","order":1,"width":0,"height":0,"name":"","label":"seg","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":80,"wires":[]},{"id":"244fff7.5f9ca","type":"ui_text","z":"36d35173.2b68be","group":"d9253f24.672b5","order":2,"width":0,"height":0,"name":"","label":"min","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":200,"wires":[]},{"id":"e7f268f8.543618","type":"inject","z":"36d35173.2b68be","name":"","topic":"/init/21","payload":"abc","payloadType":"str","repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["f687c2c2.3f21c"]]},{"id":"f687c2c2.3f21c","type":"function","z":"36d35173.2b68be","name":"","func":"var min = flow.get(\"min\") || 0;\n\n\nreturn [{payload: min}];","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["244fff7.5f9ca"]]},{"id":"5b0a257a.676bcc","type":"ui_text","z":"36d35173.2b68be","group":"d9253f24.672b5","order":5,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":300,"wires":[]},{"id":"8b74c6f5.77bfd8","type":"mqtt in","z":"36d35173.2b68be","name":"","topic":"#","qos":"2","datatype":"auto","broker":"caed8db0.e02d5","x":140,"y":300,"wires":[["5b0a257a.676bcc"]]},{"id":"b7e09343.99d16","type":"mqtt out","z":"36d35173.2b68be","name":"","topic":"","qos":"","retain":"","broker":"caed8db0.e02d5","x":520,"y":440,"wires":[]},{"id":"244b92fa.568d2e","type":"ui_text_input","z":"36d35173.2b68be","name":"","label":"","tooltip":"","group":"d9253f24.672b5","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"100","topic":"/ola","x":140,"y":440,"wires":[["df6cbbb8.01b008"]]},{"id":"343c1a6a.8c7e46","type":"ui_button","z":"36d35173.2b68be","name":"","group":"d9253f24.672b5","order":4,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"submit","x":150,"y":400,"wires":[["df6cbbb8.01b008"]]},{"id":"df6cbbb8.01b008","type":"function","z":"36d35173.2b68be","name":"","func":"if(msg.topic == \"submit\"){\n    var t = context.get(\"t\") || \"/by\";\n    var p = context.get(\"p\") || \"nada\";\n    return [{topic: t, payload: p}];\n}\nelse\n{\n    context.set(\"t\", msg.topic);\n    context.set(\"p\", msg.payload);\n}","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["b7e09343.99d16"]]},{"id":"26dc9df1.f169f2","type":"ui_text","z":"36d35173.2b68be","group":"d9253f24.672b5","order":5,"width":0,"height":0,"name":"","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":580,"wires":[]},{"id":"db3608fa.4c5f58","type":"mqtt in","z":"36d35173.2b68be","name":"","topic":"/perguntas/#","qos":"2","datatype":"auto","broker":"caed8db0.e02d5","x":160,"y":580,"wires":[["26dc9df1.f169f2"]]}]